@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent; /* remove Android highlights taps  */
    }
}
@layer utilities {
    /* Hide Scrollbar */
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/*  SCROLLBAR */
::-webkit-scrollbar {
    @apply h-1 w-1 rounded lg:h-2 lg:w-2;
}
::-webkit-scrollbar-track {
    /* @apply bg-neutral-100; */
}
::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-neutral-300 hover:bg-neutral-400;
}
/*  FORM */
@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-primary-300 focus:outline-none focus:ring-0 dark:border-gray-600 dark:text-white dark:focus:border-primary-500;
    }
    [type='checkbox'],
    [type='radio'] {
        @apply rounded border-gray-300 text-primary-400 focus:ring-primary-400;
    }
}
